.iimg-point {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;

  &:hover {
    > span {
      display: inline-block;
    }
  }

  > span {
    background: #fff;
    display: none;
    margin-top: 1rem;
    min-width: 200px;
    padding: 1rem;
    text-align: center;
    transform: translateX(-50%);
    width: auto;
  }
}
