.iimg-point {
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;

  &:hover {
    > span {
      display: inline-block;
    }
  }

  > span {
    background: #fff;
    box-shadow: 0 4px 7px -4px rgb(0 0 0 / 50%);
    display: none;
    margin-left:-138px;
    margin-top: 10px;
    min-width: 300px;
    padding: 1rem;
    position: relative;
    width: auto;
    z-index: 999;

    &::after {
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: "";
      height: 0;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -100%);
      width: 0;
    }
  }

  > img {
    height: 24px;
    max-width: 24px;
    width: 24px;
    z-index: 1;
  }
}
